<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Contact App</strong> by
        <a href="https://jgthms.com">Abhiyan Shrestha</a>. The source code is available in
        <a
          href="http://opensource.org/licenses/mit-license.php"
        >Github</a>
      </p>
    </div>
  </footer>
</template>