<template>
  <div>
    <nav class="panel">
      <p class="panel-heading">
        Contact App
        <button class="button is-link is-outlined" @click="openModal">Add New</button>
      </p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input is-small" type="text" v-model="searchQuery" placeholder="search" />
          <span class="icon is-small is-left">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <a class="panel-block" v-for="(item,key) in temp">
        <div class="is-9 column">{{ item.name }}</div>
        <div class="is-1 column">
          <span class="panel-icon">
            <i
              class="fa fa-trash has-text-danger"
              @click="deleteModal(key, item.id)"
              aria-hidden="true"
            ></i>
          </span>
        </div>
        <div class="is-1 column">
          <span class="panel-icon">
            <i class="fa fa-edit has-text-primary" @click="updateModal(key)"></i>
          </span>
        </div>
        <div class="is-1 column">
          <span class="panel-icon">
            <i class="fa fa-eye has-text-info" @click="showModal(key)" aria-hidden="true"></i>
          </span>
        </div>
      </a>
    </nav>
    <modals :isActive="isActive" @closeModal="closeModal"></modals>
    <showmodals :showActive="showActive" @closeModal="closeModal"></showmodals>
    <updatemodals :updateActive="updateActive" @closeModal="closeModal"></updatemodals>
  </div>
</template>
<script>
import modals from "./Modal.vue";
import showmodals from "./ShowModal.vue";
import updatemodals from "./Update";
export default {
  components: { modals, showmodals, updatemodals },
  data() {
    return {
      isActive: "",
      showActive: "",
      updateActive: "",
      lists: [],
      errors: "",
      searchQuery: "",
      temp: ""
    };
  },
  watch: {
    searchQuery() {
      if (this.searchQuery.length > 0) {
        this.temp = this.lists.filter(item => {
          return Object.keys(item).some(key => {
            let string = String(item[key]);
            return (
              string.toLowerCase().indexOf(this.searchQuery.toLowerCase()) > -1
            );
          });
        });
        // console.log(this.temp);
      } else {
        this.temp = this.lists;
      }
    }
  },
  mounted() {
    axios
      .post("/getData")
      .then(res => (this.lists = this.temp = res.data))
      .catch(err => (this.errors = err.response.data.errors));
  },
  methods: {
    openModal() {
      this.isActive = "is-active";
    },
    closeModal() {
      this.isActive = this.showActive = this.updateActive = "";
    },
    showModal(key) {
      this.$children[1].list = this.temp[key];
      this.showActive = "is-active";
    },
    // closeShowModal() {
    //   this.showActive = "";
    // },
    updateModal(key) {
      this.updateActive = "is-active";
      this.$children[2].list = this.temp[key];
    },
    deleteModal(key, id) {
      // console.log(`${key} ${id} `);
      if (confirm("Are you sure?")) {
        axios
          .delete(`/contactapp/${id}`)
          .then(res => this.lists.splice(key, 1))
          .catch(err => (this.errors = err.response.data.errors));
      }
    }
    // closeUpdateModal() {
    //   this.updateActive = "";
    // }
  }
};
</script>