<template>
  <div class="modal" :class="isActive">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add New Contact</p>
        <button @click="close" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Name -->
        <div class="field">
          <label for="name" class="label">Name</label>
          <div class="control">
            <input
              id="name"
              class="input"
              :class="{'is-danger': errors.name}"
              v-model="list.name"
              type="text"
              placeholder="Enter Name"
            />
          </div>
          <small v-if="errors.name" class="has-text-danger">{{ errors.name[0] }}</small>
        </div>
        <!-- Phone -->
        <div class="field">
          <label for="Phone" class="label">Phone</label>
          <div class="control">
            <input
              id="Phone"
              class="input"
              :class=" { 'is-danger': errors.phone} "
              v-model="list.phone"
              type="text"
              placeholder="Enter Phone"
            />
          </div>
          <small v-if="errors.phone" class="has-text-danger">{{ errors.phone[0] }}</small>
        </div>
        <!-- Email -->
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control">
            <input
              id="email"
              class="input"
              :class="{'is-danger':errors.email}"
              v-model="list.email"
              type="email"
              placeholder="Enter Email"
            />
          </div>
          <small v-if="errors.email" class="has-text-danger">{{errors.email[0]}}</small>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="save">Save</button>
        <button class="button" @click="close">Cancel</button>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isActive"],
  data() {
    return {
      list: {
        name: "",
        email: "",
        phone: ""
      },
      errors: ""
    };
  },
  methods: {
    close() {
      this.$emit("closeModal");
    },
    save() {
      axios
        .post("/contactapp", this.$data.list)
        .then(res => {
          this.close();
          this.$parent.lists.push(res.data);
          this.$parent.lists.sort(function(a,b){
            if(a.name>b.name) {
              return 1;
              console.log('A is greater');
            }
            if(a.name<b.name){
              console.log('B is greater');
              return -1;
            }
          })
          this.list = '';
        })
        .catch(err => (this.errors = err.response.data.errors));
    }
  }
};
</script>