<template>
  <div class="modal" :class="updateActive">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Update {{list.name}}'s Detail</p>
        <button class="delete" @click="close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Name -->
        <div class="field">
          <label for="name" class="label">Name</label>
          <div class="control">
            <input
              id="name"
              class="input"
              :class="{'is-danger': errors.name}"
              v-model="list.name"
              type="text"
              placeholder="Enter Name"
            />
          </div>
          <small v-if="errors.name" class="has-text-danger">{{ errors.name[0] }}</small>
        </div>
        <!-- Phone -->
        <div class="field">
          <label for="Phone" class="label">Phone</label>
          <div class="control">
            <input
              id="Phone"
              class="input"
              :class=" { 'is-danger': errors.phone} "
              v-model="list.phone"
              type="text"
              placeholder="Enter Phone"
            />
          </div>
          <small v-if="errors.phone" class="has-text-danger">{{ errors.phone[0] }}</small>
        </div>
        <!-- Email -->
        <div class="field">
          <label for="email" class="label">Email</label>
          <div class="control">
            <input
              id="email"
              class="input"
              :class="{'is-danger':errors.email}"
              v-model="list.email"
              type="email"
              placeholder="Enter Email"
            />
          </div>
          <small v-if="errors.email" class="has-text-danger">{{errors.email[0]}}</small>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="update">Update</button>
        <button class="button" @click="close">Cancel</button>
      </footer>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["updateActive"],
  data() {
    return {
      list: {},
      errors: ""
    };
  },
  methods: {
    close() {
      this.$emit("closeModal");
    },
    update() {
      axios
        .patch(`/contactapp/${this.list.id}`, this.$data.list)
        .then(res => this.close())
        .catch(err => (this.errors = err.response.data.errors));
    }
  }
};
</script>